{% extends 'base.html' %}

{% block title %}
{{ trip.title }}
{% endblock %}

{% block content %}

<div class="container my-5">

    <div class="card shadow border-0 rounded-4">

        {% if trip.image %}

        <img src="{{ trip.image.url }}"
             class="card-img-top"
             style="height:500px; object-fit:cover;">

        {% endif %}

        <div class="card-body p-5">

            <h1 class="fw-bold">

                {{ trip.title }}

            </h1>

            <h5 class="text-secondary">

                📍 {{ trip.destination }}

            </h5>

            <hr>

            <div class="row">

                <div class="col-md-6">

                    <h5>🏨 Hotel</h5>

                    <p>{{ trip.hotel_name }}</p>

                </div>

                <div class="col-md-6">

                    <h5>👤 Shared By</h5>

                    <p>{{ trip.user.username }}</p>

                </div>

            </div>

            <hr>

            <h4>

                📝 Experience

            </h4>

            <p>

                {{ trip.description }}

            </p>

            <hr>

            <h4>

                📍 Places Visited

            </h4>

            <p>

                {{ trip.places_visited }}

            </p>

            <hr>

            <h4>

                💰 Trip Cost

            </h4>

            <table class="table table-bordered">

                <tr>

                    <th>Travel</th>

                    <td>₹ {{ trip.travel_cost }}</td>

                </tr>

                <tr>

                    <th>Hotel</th>

                    <td>₹ {{ trip.hotel_cost }}</td>

                </tr>

                <tr>

                    <th>Food</th>

                    <td>₹ {{ trip.food_cost }}</td>

                </tr>

                <tr>

                    <th>Other</th>

                    <td>₹ {{ trip.other_cost }}</td>

                </tr>

                <tr class="table-primary">

                    <th>Total</th>

                    <th>₹ {{ trip.total_cost }}</th>

                </tr>

            </table>

            <div class="mt-4">

                <a href="{% url 'explore' %}"
                   class="btn btn-primary">

                    ← Back to Explore

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}